.personal-data-container {
  width: 90%;
  box-shadow: 0 0 .5em .1em #ccc;
  margin: 0;
  margin: 20px auto;
}

form {
  height: 18em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input {
  text-align: center;
  padding: 5px;
  border-radius: 4px;
}

button {
  align-self: center;
}