.navbar {
  padding: 10px 10em;
}
.navbar-brand {
  margin-right: 36em;
}
.nav-main {
  color: #fff;
}
.nav-item {
  color: #fff;
  margin-right: 20px;
}
.nav-main:hover, .nav-item:hover {
  color: #ddd;
  text-decoration: none;
}

@media screen and (max-width: 1160px) {
  .navbar-brand {
    margin-right: 22em;
  }
}

@media screen and (max-width: 880px) {
  .navbar-brand {
    margin-right: 16em;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 10px;
  }
  .navbar-brand {
    margin-right: 0;
  }
  .nav-item {
    color: #fff;
    margin-right: 0;
  }
}