.navbar {
  padding: 5px 12%;
}

.navbar-brand {
  margin-right: 70%;
}

.nav-main,
a.nav-item {
  text-decoration: none;
  color: #fff;
  padding-bottom: 8px;
}

a.nav-item:first-child {
  margin-right: 2em;
}

.nav-main:hover,
a.nav-item:hover {
  text-decoration: none;
  color: #aaf;
}

.active {
  border-bottom: 2px solid #aaf;
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    margin-right: 0px;
  }
}