

.help ul{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.web-section-img {
  width: 100%;
}

.section-text {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 60px;
}

.section-img {
  display: none;
}
.help ul li {
  list-style: disc;
}

@media screen and (max-width: 425px) {
  .web-section-img {
    display: none;
  }
  .section-img {
    display: flex;
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .help {
    padding-top: 50px;
  }
}