html, body {
  height: 100%;
}

.App {
  background-color: #f5f5ff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input, textarea {
  background-color: #fafaff;
}


button:hover {
  transition: .3s;
  transform: scale(1.1);
}

@media screen and (max-width: 580px) {
  .App {
    padding-top: 20px;
  }
}