.register {
  padding: 0;
  padding-top: 60px;
}

.register .card {
  height: 740px;
  box-shadow: 0 0 .5em .1em #ccc;
}

.register form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

#nip, #password {
  width: 100%;
}

.register .form-check input {
  width: auto;
}

.register .form-group:nth-child(2) {
  align-self: center;
}

.register small {
  align-self: flex-end;
}

@media screen and (max-width: 580px) {
  .register {
    padding-top: 50px;
  }
}